* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000010;
    color: #ccc;
    padding: 2.5px;
    height: 100vh;
    display: grid;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}


header button:first-of-type {
    color: #0ff;
    background-color: #ff0000f0;
    border: none;
    text-shadow: 0 1px 2px #0ff;
    box-shadow: 0 0px 32px #ff0000;
    transition: .5s;
}

header button {
    border-radius: 5px;
    color: #fff;
    background-color: #0f0;
    border: none;
    text-shadow: 0 1px 2px #0000f0b8;
    box-shadow: 0 0px 32px #0fa;
    margin: 0 2.5px;
}

header button:hover {
    box-shadow: inset 0px 0px 6px #000010;
}

fieldset {
    display: grid;
    justify-content: center;
    background-color: #ffffff2f;
    box-shadow: 0 15px 35px #0000f050;
    border: 0;
}

.inputBox {
    margin: 12px 0;
    color: #aaa;
    position: relative;
}

input:disabled {
    border: 0;
}

.inputBox .actived,
.inputBox input:focus,
.inputBox input:valid,
textarea:valid,
textarea:focus {
    border: 1px solid #0ff;
    color: #00ffffcc;
}

.inputBox .actived~label,
.inputBox input:focus~label,
.inputBox input:valid~label {
    color: #0ff;
    letter-spacing: .15em;
    font-size: .65em;
    transform: translateY(-10px);
    padding: 0 10px;
    background-color: #555560;
    border-left: 1px solid #0ff;
    border-right: 1px solid #0ff;
    width: auto;
}

label {
    display: inline-block;
    width: 128px;
    position: absolute;
    left: 0;
    margin: 6px;
    transition: .5s;
}

input,
textarea {
    border: 1px solid #ffffff20;
    background-color: inherit;
    border-radius: 2.5px;
    color: inherit;
    outline: none;
}

input {
    height: 30px;
}

::placeholder {
    color: #ccc;
}

#dadosRSA fieldset {
    justify-content: normal;
}

#messagen fieldset {
    justify-content: normal;
    row-gap: 5px;
}

#privateKey {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "text keys""numberKeys keys";
    gap: 10px;
}

#privateKey label {
    grid-area: text;
    align-self: end;
    text-align: center;
}

#qtdKeys {
    grid-area: numberKeys;
    width: 90%;
}

#keys {
    width: 100%;
    height: 162px;
    grid-area: keys;
}

.hide {
    display: none;
}

fieldset button {
    height: 25px;
    color: #0005a9;
    background-color: #0cc;
    border: none;
    border-radius: 5px;
    text-shadow: 0 1px 2px #0000f0b8;
    box-shadow: 0 0px 32px #0cc;
}

fieldset button:hover {
    box-shadow: 0 0px 16px #0cc;
}

footer p {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

footer p a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

svg {
    height: 20px;
    width: 20px;
    fill: #ccc;
}

@media (min-width: 768px) {

    header button {
        width: 100px;
        height: 50px;
        transition: .5s;
    }

    main {
        display: grid;
        grid-template-columns: 40vw calc(40vw - 10px);
        column-gap: 6px;
        justify-content: center;
        align-items: center;
    }
}